/*
 * Editor Style Base structure
 */

#publish-btn{

}

#seed-cspv5-customizer{
    background:#fff;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:99999;
}

#seed-cspv5-customizer-wrapper{
  height:100%;
}

#seed-cspv5-customizer-wrapper hr{
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

#seed-cspv5-customizer-wrapper select.input-sm{
  line-height:14px;
}

a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}


/*
 * Sidebar
 */
 
 #seed-cspv5-sidebar{
    background-color: #fff;
    z-index: 200;
    left: 0px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: auto;
    width:350px;
    overflow-y: auto;
}

#seed-cspv5-sidebar{
  box-shadow: 5px 0px 8px rgba(0,0,0,0.2);
}



#seed-cspv5-sidebar .panel-body{
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#seed-cspv5-sidebar .panel .panel-heading {
  border-radius: 0px;
}

#seed-cspv5-sidebar .panel > .panel-heading {
  border-radius:0px;
}

.panel-group .panel+.panel {
  margin-top: 1px; 
}

#seed-cspv5-sidebar .panel-default > .panel-heading a:hover{
  background-color: #f5f5f5;
  text-decoration:underline;
  color:#23282d;
}

/*#seed-cspv5-sidebar .panel-default > .panel-heading a {*/
/*  background-color: rgba(33,33,33,.05);*/
/*}*/

#content-settings, #design-settings, #language-settings, #advanced-settings, #publish-settings{
  padding: 0 ;
}


#seed-cspv5-sidebar .panel-group .panel {
  border-radius: 0;
}

#seed-cspv5-sidebar{
  width:350px !important;
}

#seed-back{
  display: inline-block;
    width: 100%;
    text-align: left;
    margin-left: 6px;
    margin-bottom:7px;
}

.csp-sidebar-menu{
  padding-bottom: 0;
  padding-top: 115px;
}

#page-actions{
  display: none;
  position: fixed;
  left:0;
  bottom:75px;
  background-color: #fff;
  width: 350px;
  padding:20px;
  z-index:400;
}

#preview-actions{
  background: #cecece;
  text-align: center;
  width: 350px;
  padding:7px;
  top:0px;
  z-index: 100000;
  position:fixed;
  height:110px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  /*border-bottom:1px solid #ddd;*/

}

.csp-sidebar{
  padding:15px;
}

.sidebar-header{
  position: fixed;
  left:0;
  top:0; 
  z-index:300;
  background:#333;
  width: 100%;
  height:60px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
}

#back{
  padding-top:10px;  
  text-align: left;
}

#back a{
  color: #fff;
}

 /*
 * Accordian
 */
 .csp-page-sidebar .panel.panel-default {
    border: 1px solid #ccc;
}

.csp-page-sidebar .panel-body {
    background: #fff;
}

.form-group label {
    font-size: 11px;
    color: #000;
}

.panel-group .panel + .panel {
    margin-top: -1px;
}

.panel-group .panel-heading .panel-title > a.collapsed:after {
    color: rgba(95, 87, 87, 0.8);
}

.panel-group .panel-heading .panel-title > a:after{
    color: rgba(95, 87, 87, 0.8);
}

.panel-title, .form-group label{
  text-transform: none !important;
}

.panel-title, .panel-title a, .panel-title i{
  font-size:13px !important;
} 

.panel-title i{
  padding-right:7px;
}

.panel-title a{
  display:block;
  padding: 7px 10px;
}


.panel-body{
  padding-top:20px !important;
  padding-bottom: 7px !important;
}

.panel-heading a.btn {
  opacity: 1 !important;
  color:#fff !important;
}

.panel-heading {
    border-radius: 0;
    padding: 0;
}

.panel .panel-heading .panel-title{
  text-transform: none;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}

.form-control, .input-group-addon {
    border: 1px solid rgba(0, 0, 0, 0.26) !important;
}


/*
 * Preview
 */
 
.page-container ,.page-content-wrapper, .content, .content .container-fluid {
  height:100% !important;
}

.content .container-fluid {
  padding:0;
}

.page-content-wrapper .content{
  padding-top:0 !important;
}


.page-container{
  padding-left: 350px;
}

.content .container-fluid {
  position: relative;
  width:100% !important;
}

#ajax-status{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    margin: auto;
    display: none;
    text-align:center;
    padding-top:100px;
}

#ajax-status img{

}

#preview-wrapper{
  height:100%;
  padding: 0px;
  text-align: center;
  background-color:#eceff1;
}

#preview{
  overflow:hidden;
  height:100%;
  width:100%;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#qn-wrapper .select2, #quick_nav{
    width: 88% !important;
    margin: 10px auto 5px;
}

#quick_nav{
 display:block; 
}
 
 /*
 * Masonary
 */
.grid-item {
  margin-bottom: 10px;
}

 /*
 * Forms
 */
.form-group {
    margin-bottom: 10px;
}


/*
 * Image Preview
 */
 .img-preview{
  position:relative;
 }

 .img-preview .fa{
  vertical-align: top;
 }

 .img-preview img{
    width:200px;
    border:1px dotted rgba(70, 70, 70, 0.8);
    padding:5px;
    margin-top:10px;
 }
 
 
 /*
 * Select2
 */

.select2{
  width: 100% !important
}

.select2-container{
  z-index:99999;
}


 /*
 * Slider
 */
.noUi-connect{
    margin-top:30px;
    background:#0085BA;
}


 /*
 * Icon Picker
 */
.iconpicker .iconpicker-item{
    color: #333;
}

 /*
 * Slide Show
 */
#slides .input-group, #social_profiles_repeatable_container .field-group{
  padding-bottom:7px;
}

.slide-preview{
  max-width:20px;
  max-height:20px;
}

 /*
 * Modal
 */
.modal-backdrop {
z-index: 199;
}

.modal{
  background-color: rgba(0, 0, 0, 0.5);
}

 /*
 * Cursors
 */
.bg-images img,.img-preview .fa-close, .slide-delete .fa-close, #social_profiles_repeatable_container .fa-close{
  cursor:pointer;
}

.img-preview .fa-bars, #slides .fa-bars, .slide-delete .fa-bars, #social_profiles_repeatable_container .fa-bars, #blocks .fa-bars{
  cursor:move;
}

/*
 * Date Time Picker
 */
 .bootstrap-datetimepicker-widget{
  color:#333;
}
 
 
/*
 * Color Picker
 */
.colorpicker{
  z-index:99999 !important;
}

.colorpicker-hue i{
 border-top:2px solid #000 !important; 
 border-bottom:2px solid #fff !important; 
}

.colorpicker-alpha i{
  border-top:2px solid #000 !important;
  border-bottom:2px solid #fff !important; 
}


/*
 * Btn
 */
.btn, .btn:focus {
    color: #757573;
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}

.btn.hover, .btn:hover, .open .dropdown-toggle.btn {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: #757573;
}

.btn.active, .btn:active, .btn:active:focus .open .dropdown-toggle.btn {
    background-color: #bdbdbd
    border-color: #bdbdbd;
    color: #757573;
}

.btn-success, .btn-success:focus {
    color: #ffffff;
    background-color: #4caf50;
    border-color: #4caf50;
}

.btn-success.hover, .btn-success:hover, .open .dropdown-toggle.btn-success {
    background-color: #66bb6a;
    border-color: #66bb6a;
    color: #ffffff;
}

.btn-success.active, .btn-success:active, .btn-success:active:focus, .open .dropdown-toggle.btn-success {
    background-color: #43a047;
    border-color: #43a047;
    color: #ffffff;
}

.btn-primary, .btn-primary:focus {
    color: #ffffff;
    background-color: #3f51b5;
    border-color: #3f51b5;
}

.btn-primary.hover, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
    background-color: #5c6bc0;
    border-color: #5c6bc0;
    color: #ffffff;
}

.btn-primary.active, .btn-primary:active, .btn-primary:active:focus .open .dropdown-toggle.btn-primary {
    background-color: #3949ab;
    border-color: #3949ab;
    color: #ffffff;
}


/*
 * Social Profiles
 */
#social_profiles_repeatable_container .btn-group {
  display: block;
}

#social_profiles_repeatable_container .btn-group button {
  width:90px;
}

.profile-dropdown li > a{
  opacity: 0.9;
}


/*
 * Misc
 */ 
.tooltip-inner{
  width:auto !important;
}

th{
  text-align:center;
}

.table thead tr th {
  text-transform: none;
  font-size:14px;
}

.return{
  padding-top:80px;
}

#phone-wireframe{
  height: 100%
}

.phone-wireframe{
    background: url(../img/iphone_frame.png) no-repeat center top ;
/*    height: 795px;
    width: 378px;
    margin:auto;
    padding: 97px 22px 112px;*/
}

.toast {
    opacity: 1 !important;
}

.modal-dialog{
  margin-top:80px;
}

.ui-state-highlight { 
  height: auto; 
  background:#FEF6DD;
  border:1px dotted #F9D975 ;
}


/*
 * Pagination
 */ 
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #5c6bc0;
    border-color: #5c6bc0;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 3;
    color: #5c6bc0;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #5c6bc0;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.seed_cspv5_disabled{
    font-weight: bold;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 999;
}



/*.select2-results__options li div {
  background: url("../img/fontsList.gif") !important;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999px;
  height: 29px;
}*/















