/*
Theme Name:     Now-Child
Description:    
Author:         Teresa Yung
Template:       now

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/

// lexusize

header #header {
	background: black !important;
}

body, p {
    font-size: 18px !important;
}

#content {
	max-width: 768px;
	margin: 0 auto;
}

body.increase-height {
	padding-bottom: 50px !important;
	margin-bottom: 50px !important;
}


.increase-height #content-container {
	padding-bottom: 50px !important;
	margin-bottom: 50px !important;

}

#content-container {
	min-height: 1200px;
}

h4 {
    margin-top: 1em !important;
    margin-bottom: 1.5em !important;
    font-size: 18px !important;
    line-height: 26px !important;
}

.one_half {
	width: 47% !important;
    max-width: 345px !important;
	margin-right: 25px;
}

.last_column {
	margin-right: 0px !important;
	
}

h2.blog-title {
	margin-bottom: 25px !important;
}

span.time {
	display: none !important;
}


@media screen and (max-width: 600px) {

	.one_half {
		width: 47% !important;
 		max-width: 280px !important;
		margin-right: 20px !important;
    		clear: none !important;
	}

	.last_column {
		margin-right: 0px !important;
	
	}

}


@media screen and (max-width: 400px) {

	.one_half {
		width: 100% !important;
	}

	.last_column {
		margin-right: 0px !important;
	
	}

}

#post-95 h2.blog-title {
	display: none !important;
}

.wpupg-container {
	border: 3px solid rgba(0, 0, 0, 0.5) !important;
}

.wmle_container {
	    margin-top: 40px;
}

.wmle_post_meta, .wmle_post_excerpt {
	display: none !important;
}

div.printfriendly {
	margin: 0 0 50px 0 !important;
}

.nav-child-container {
	color: #fff !important;
	background: #bcbec0;
}

.mgl_tubelab_container {
	margin-top: 50px;
}

/* desktop menu styling - https://perishablepress.com/css-dropdown-menu-wordpress/ */


#nonMobileMenu,
#nonMobileMenu ul,
#nonMobileMenu li,
#nonMobileMenu a {
	border: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#nonMobileMenu/*,


#nonMobileMenu > ul > li > ul > li a:hover*/ {
	background: #b9bfc1;
}


/*hover red eb0a1e*/

#nonMobileMenu {
	min-height: 38px;
	display: block; /* try table? */
	padding: 0;
	margin: 0;
	//border: 1px solid;
	width: auto;
	//border-color: #080808;
}

#nonMobileMenu > ul {
	list-style: inside none;
	padding: 0;
	display: table;
	margin: 0 auto;
}
#nonMobileMenu > ul > li {
	list-style: inside none;
	padding: 0;
	margin: 0;
	float: left;
	display: block;
	position: relative;
        
}
#nonMobileMenu > ul > li > a {
	outline: none;
	display: block;
	position: relative;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	font-family: 'Raleway', 'Lato', 'Open Sans', sans-serif;
	//border-right: 1px solid #080808;
	color: #ffffff;  
}

#nonMobileMenu li > a:after {
    color: #fff;
    content: ' ▾';
}

#nonMobileMenu li > a:only-child:after {
    content: '';
}
/* sub menu styling - desktop menu */
#nonMobileMenu ul li.has-sub:hover > a:after {
	top: 0;
	bottom: 0;
}


#nonMobileMenu ul ul {
	visibility: hidden;
	//width:;
	position: absolute;
	//top: 38px;
	//padding: 10px 0;
	background: #34393d;
	//border-radius: 0 0 5px 5px;
	z-index: 999;
}

#nonMobileMenu ul li > ul {
	//width: 200px;
}
#nonMobileMenu ul li:hover > ul {
  visibility: visible;
  min-width: 160px;
max-width: 180px;
  position: absolute;
  top: 37px;
 // padding: 5px 0;
 // background: #3f3f3f;
  border-radius: 0 0 2px 2px;
  z-index: 999;
}

#nonMobileMenu ul li > ul li a {
	outline: none;
	display: block;
	position: relative;
	margin: 0;
	padding: 8px 20px;
	font: 10pt Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
	//text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	//min-height: 38px;
	line-height: 20px;
}
#nonMobileMenu ul ul a:hover {
	color: #ffffff;
}

#nonMobileMenu ul ul li.has-sub > a:after {
  content: '+';
  position: absolute;
 // top: 50%;
  right: 15px;
 // margin-top: -8px;
}
#nonMobileMenu ul li:hover > a, #nonMobileMenu ul li > ul li:hover,
#nonMobileMenu ul li.active > a {
  background: #000000;
  color: #ffffff;
}
#nonMobileMenu ul li.has-sub > a:after {
  content: '+';
  margin-left: 5px;
}
#nonMobileMenu ul li.last ul {
  left: auto;
  right: 0;
}
#nonMobileMenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}

#nonMobileMenu ul li > ul li {
  display: block;
  list-style: inside none;
  padding: 0;
  margin: 0;
  position: relative;
}

div.wpme_image {
	background: #fff;
}



:hov


.cls

element.style {
}
.loading-animations.content-loaded #header {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.loading-animations #header {
    opacity: 0.5;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
}


:hov


.cls

element.style {
}
.loading-animations.content-loaded #header {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.loading-animations #header {
    opacity: 0.5;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
}


.page-id-15 #content {
    max-width: 100% !important;
}

.page-id-15 .wrapped-content {
    padding: 0px !important;
}

.page-id-15 p {
	margin: 0px;
}

.page-id-15 #content h2:first-child {
    margin-top: 0;
}

img.attachment-thumbnail.size-thumbnail.wp-post-image {
	width: 100% !important;
}

.wmle_container .wmle_item .wmle_post_title {
	font-size: 16px !important;
}

/* 
http://vueinterieurelexus.ca/videos-vue-interieure/?wplightboxshare=https%3A%2F%2Fwww.youtube.com%2Fembed%2FkbmJIo9TIsA 
*/

.postid-5820 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5822 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5824 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5826 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5828 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5830 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5832 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5834 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5836 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5838 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5840 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5845 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5847 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5849 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5851 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5853 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5855 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5858 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

.postid-5860 div.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	display: none!important;
}

/* skip to main content */
a.skip-main {
	position: absolute!important;
	overflow: hidden;
	clip: rect(0,0,0,0);
}
a.skip-main:focus, a.skip-main:active {
	padding: 5px 10px;
	width: inherit;
	top: 20px;
	left: 20px;
	border-radius: 5px;
	background-color: #fefefe;
	border: 2px solid #c73a22;
	outline: 0;
	color: #626262;
	clip: inherit;
	overflow: inherit;
	text-decoration: underline;
	z-index: 1000;
}

/*webAIM*/
#mega-menu-primary, span.square-thing {
	background-color: #616669 !important;
}
.wmle_container .wmle_item .wmle_post_title a{
	color: #222 !important;
	text-decoration: underline !important;
}
.wmle_container .wmle_item .wmle_post_title a:hover{
	color: #333 !important;
	text-decoration: none !important;
}
.wp-caption-text{
	color: #222 !important;
}
.category-subtitle {
	color:#666 !important;
	font-size: 20px !important;
	margin-top: -15px !important;
	margin-bottom: 0px !important;
	font-weight: 600 !important;
}
.wrapped-content h3.list-title{
	background: rgba(105,105,105,1) !important;
	background: -moz-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(34,34,34,1) 100%) !important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(105,105,105,1)), color-stop(100%, rgba(34,34,34,1))) !important;
	background: -webkit-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(34,34,34,1) 100%) !important;
	background: -o-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(34,34,34,1) 100%) !important;
	background: -ms-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(34,34,34,1) 100%) !important;
	background: linear-gradient(to bottom, rgba(105,105,105,1) 0%, rgba(34,34,34,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#222222', GradientType=0 ) !important;
	color: #fff !important;
	font-size: 22px !important;
	font-weight: bold !important;
	padding: 3px 10px !important;
	display: block !important;
	letter-spacing: 2px;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"]{
	color: #696969 !important;
}
a:focus {
	position: relative !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item a:focus{
	background-color: black !important;
}
#mega-menu-wrap-primary #mega-menu-primary.mega-keyboard-navigation a:focus{
	box-shadow: none !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus{
	color: #fff !important;
}
#vid-thumb-container a.wplightbox:focus, .gallery-icon a:focus, .wpme_image a:focus{
	border: none !important;
	position: static !important;
}
a.wplightbox:focus .vid-thumb-button {
	background-color: #c4302b !important;
}
.LKC .content-column:nth-child(3n+1), .inside-look .content-column:nth-child(3n+1) {
	clear: left;
}
.gallery-icon a:focus img, .wpme_image a:focus img{
	border: 3px solid #ff0000 !important;
}
h1, h2, h3, h4, h5{
	font-family: 'nobel' !important;
}
ul li, ol li {
	font-weight: normal !important;
}
h1.blog-title{
	margin-top: 0.9em;
	margin-bottom: 0.5em;
	font-size: 26px;
}
.rtbs .rtbs_menu li a{
	padding: .7rem 20px !important;
}
.rtbs .rtbs_menu li a:focus{
	color: #fff !important;
	background-color: #555555 !important;
}
h3.blog-title, h3.blog-title a{
	color: #333333;
	font-size: 30px !important;
	font-weight: 700;
	margin-bottom: 16px;
}

.addthis_toolbox img#pdf-icon {
	padding: 0 !important;
	margin: 0 !important;
}
h3#home-caption-23 {
	font-size: 30px !important;
	line-height: 1.7;
	margin-left: 30px;
	margin-right: 10px;
	margin-top: 15px;
	color: #b9bfc2 !important;
}
.a2a_button_email {
	margin-left: 38px !important;
}
.rpbt_shortcode h3{
    font-size: 38px;
	font-weight:bold;
}

li.inside-look {
	display: table-cell;
	border-radius: 6px;
	background: white;
	box-shadow: inset 0 0.5px 2px rgba(0, 0, 0, 0.4);
}
div.vid-thumb-container {
	box-sizing: border-box !important;
}
@media only screen and (min-width: 1200px)
div.mobile-chart {
	display: none;
}
	div.mobile-chart-content {
		display: none;
	}