/* Mobile Menu Frontend CSS Style*/


/* Hides everything pushed outside of it */
.mob-menu-left-panel{
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 300000;
    overflow-y: auto;   
    overflow-x: hidden;
    opacity: 1;

    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -ms-transition: -ms-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
}   

.show-nav-left .mob-menu-left-panel {

 	 transition: transform .5s;
 	 -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

body.admin-bar .mobmenu{
    top: 32px;
}

@media screen and (max-width: 782px){
    body.admin-bar .mobmenu {
        top: 46px;   
    }
}

.mob-menu-right-panel{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: #000;
    z-index: 300000;
    overflow-y: auto;   
    overflow-x: hidden;
    opacity: 1;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -ms-transition: -ms-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
}   

.show-nav-right .mob-menu-right-panel {
 	transition: transform .5s;
 	-webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.mobmenu-left-bt , .mobmenu-right-bt {
    font-size: 22px;
    line-height: 22px;
}


.show-nav-left .mobmenu-push-wrap{
     height: 100%;
}

/* Will animate the content to the right 275px revealing the hidden nav */
.show-nav-left .mobmenu-push-wrap, .show-nav-left .mob_menu_header_div {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -ms-transition: -ms-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
}

.show-nav-right .mobmenu-push-wrap{
    height: 100%;
}

/* Will animate the content to the right 275px revealing the hidden nav */
.show-nav-right .mobmenu-push-wrap , .show-nav-right .mob_menu_header_div{  
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -ms-transition: -ms-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
}

.widget img {
    max-width: 100%; 
}

#mobmenuleft, #mobmenuright {
    margin: 0;
    padding: 0;
}
#mobmenuleft  li > ul {
   display:none;
   left: 15px;
}

 
.mob-expand-submenu {
    position: relative;
    top: -45px;
    right: 0px;
    float: right;
}

.mob-expand-submenu i {
    padding: 12px;
}

.mobmenu .sub-menu li {
    padding-left: 30px;
}

#mobmenuright  li > ul {
   display:none;
   left: 15px;
}

.rightmbottom, .rightmtop {
    padding-left: 10px;
    padding-right: 10px;                            

}

.mobmenu_content {
    z-index: 1;
    height: 100%;
    overflow: auto;
}
  
.mobmenu_content li a {
    display: block;
    font-family: "Open Sans";
    letter-spacing: 1px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
}

.mobmenu_content li {
    list-style: none;
}
#mobmenuright li a:hover{
    background-color: #000;
}
.mob_menu_left_panel_anim{
    -webkit-transition: all .30s ease-in-out !important;
    transition: all .30s ease-in-out !important;    
    transform: translate(0px) !important;
    -ms-transform: translate(0px) !important;   
    -webkit-transform: translate(0px) !important;
}

.mob_menu_right_panel_anim{
    
    -webkit-transition: all .30s ease-in-out !important;    
    transition: all .30s ease-in-out !important;    
    transform: translate(0px) !important;
    -ms-transform: translate(0px) !important;
    -webkit-transform: translate(0px) !important;
}

.mobmenul-container{
    position: absolute;

}

.mobmenur-container{
    position: absolute;     
    right: 0px; 
} 

.mob_menu_left_panel{
    width: 230px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999999;  
    transform: translate(-230px);
    -ms-transform: translate(-230px);
    -webkit-transform: translate(-230px);
    transition: all .30s ease-in-out !important;    
    -webkit-transition: all .30s ease-in-out !important;    
    overflow:hidden;
        
}  

.leftmbottom h2{
    font-weight: bold;
    background-color: transparent;
    color: inherit;
}
.mobmenu .mob-icon-cancel, .show-nav-left .mobmenu .mob-icon-menu, .show-nav-right .mobmenu .mob-icon-menu {
    display:none;
}
.show-nav-left .mobmenu .mob-icon-cancel,  .mobmenu .mob-icon-menu, .show-nav-right .mobmenu .mob-icon-cancel{
    display:block;
}
.mobmenu_content .widget {
    padding-bottom: 0px;
    padding: 20px;
}
.mobmenu input[type="text"]:focus, .mobmenu input[type="email"]:focus, .mobmenu textarea:focus, .mobmenu input[type="tel"]:focus, .mobmenu input[type="number"]:focus {
    border-color: rgba(0, 0, 0, 0)!important;
}
.mobmenu{ 
    display:none;
}
.mob-expand-submenu i {
    padding: 12px;
    top: 10px;
    position: relative;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.hide {
    display: none!important;
}

.mob-menu-left-bg-holder, .mob-menu-right-bg-holder{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -50;
    background-size: cover!important;
    background-position: 0 0;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

