<p>=== Advanced Responsive Video Embedder ===<br>Contributors: nico23<br>Donate link: <a href="https://www.paypal.me/nico23">https://www.paypal.me/nico23</a><br>Tags: YouTube, Vimeo, lazyload, thumbnail, video, responsive, embeds, video-embedder, iframe, lightweight, simplicity, shortcodes<br>Requires at least: 4.4.0<br>Tested up to: 4.7.3<br>Stable tag: trunk<br>License: GPL-3.0<br>License URI: <a href="https://www.gnu.org/licenses/gpl-3.0.html">https://www.gnu.org/licenses/gpl-3.0.html</a></p>
<p>Easy responsive video embeds via URLs or shortcodes. Perfect drop-in replacement for WordPress&#39; default embeds. Best plugin for videos?</p>
