<h2 id="description">Description</h2>
<p>The best WordPress plugin for videos? Supports close to everything you can imagine, still keeping it easy &amp; simple.</p>
<p>It is very likely the one and only plugin you will ever need to handle video embeds on your WordPress site(s). It goes far beyond just making your videos responsive!</p>
<p>Make sure to check out the <a href="https://nextgenthemes.com/plugins/advanced-responsive-video-embedder-pro/">official page</a> for live examples of the plugin and everything about it.</p>
<ul>
<li><a href="https://nextgenthemes.com/plugins/advanced-responsive-video-embedder-pro/">Plugin Page</a></li>
<li><a href="https://github.com/nextgenthemes/advanced-responsive-video-embedder/">GitHub Page</a></li>
<li><a href="https://nextgenthemes.com/plugins/advanced-responsive-video-embedder-pro/Documentation/">Documentation</a></li>
</ul>
