<h3 id="features">Features</h3>
<ul>
<li>ARVE is now SEO friendly. Letting you specify title, description, upload date to provide search engines with the schema.org data they like to have for better indexing.</li>
<li>&lt;abbr title=&quot;What You See Is What You Get&quot;&gt;WYSIWYG&lt;/abbr&gt; Editor. No more messing around with shortcodes and previewing.</li>
<li>New improved dialog for embedding videos.</li>
<li>Embeds via pasting the URL in its own line just like WordPress!</li>
<li>Magically makes those url embedded videos responsive</li>
<li>No &#39;lock in&#39; for the above&#39; if you use providers WordPress already supports</li>
<li>Supports <a href="https://nextgenthemes.com/plugins/advanced-responsive-video-embedder-pro/#video-host-support">almost every video hoster</a> that supports iframe embed codes.</li>
<li>Optionally use very powerful Shortcodes instead</li>
<li>One single button for all providers (for most providers not required because of URL embeds, but allows to create custom shortcodes with advanced features within seconds)</li>
<li>Responsive embeds with CSS, much better then with Javascript</li>
<li>Tries to be as unobtrusive as possible, sets &#39;hide brand&#39; variables if supported, disabled related videos at the end … to help keep people on your site rather then going to YouTube or keep watching videos.</li>
<li>Clean shortcode syntax <code>[arve url=&quot;https://youtu.be/yUCFRL43Zm4&quot;]</code>, no unnecessary shortcode wrapping.</li>
<li>Autostart (for providers that support it, mobile browsers prevent this)</li>
<li>Custom URL parameters to use all options providers offer</li>
<li>Optional maximal width</li>
<li>Video alignment</li>
<li>Detailed description of options in-place.</li>
<li>Custom aspect ratio</li>
</ul>
