<h3 id="-supported-providers-https-nextgenthemes-com-plugins-advanced-responsive-video-embedder-pro-video-host-support-"><a href="https://nextgenthemes.com/plugins/advanced-responsive-video-embedder-pro/#video-host-support">Supported Providers</a></h3>
<ul>
<li>allmyvideos.net</li>
<li>Alugha</li>
<li>Archive.org</li>
<li>Break</li>
<li>Brightcove</li>
<li>CollegeHumor</li>
<li>Comedy Central</li>
<li>Dailymotion</li>
<li>Facebook</li>
<li>Funny or Die</li>
<li>Gametrailers</li>
<li>IGN</li>
<li>Kickstarter</li>
<li>LiveLeak</li>
<li>Livestream</li>
<li>kla.tv</li>
<li>Metacafe</li>
<li>Movieweb</li>
<li>MPORA</li>
<li>Myspace</li>
<li>Snotr</li>
<li>Spike</li>
<li>TED Talks</li>
<li>Twitch</li>
<li>Ustream</li>
<li>RuTube.ru</li>
<li>Veoh</li>
<li>Vevo</li>
<li>Viddler</li>
<li>vidspot.net</li>
<li>Vine</li>
<li>Vimeo</li>
<li>VK</li>
<li>Vzaar</li>
<li>Wistia</li>
<li>XTube</li>
<li>Yahoo</li>
<li>Youku</li>
<li>YouTube</li>
<li>YouTube Playlist</li>
<li>HTML5 Video (in testing)</li>
<li><a href="https://nextgenthemes.com/plugins/advanced-responsive-video-embedder-pro/documentation/#general-iframe-embedding">All providers with responsive iframe embed codes</a></li>
</ul>
