<p>&lt;h3&gt;Reviews&lt;/h3&gt;

</p>
<p>&lt;div class=&quot;media&quot;&gt;<br>    &lt;div class=&quot;media-left&quot;&gt;<br>        &lt;img class=&quot;media-object img-circle&quot; width=&quot;140&quot; height=&quot;140&quot; src=&quot;https://www.gravatar.com/avatar/a00d4c26eb35dfee5b8a3ba1c454e72f?d=mm&amp;s=140&amp;r=G&quot;&gt;<br>    &lt;/div&gt;<br>    &lt;div class=&quot;media-body media-middle&quot;&gt;<br>        &lt;h4&gt;&#9733; &#9733; &#9733; &#9733; &#9733; Finally something that works&lt;/h4&gt;<br>        So I have a responsive theme but on pages with you tube videos it wasn&#39;t making the you tube videos fit in the mobile screen. I have spent the last hour trying many plugins and researching on google and finally I installed this. And I didn&#39;t have to update any settings or anything just refreshed a post with videos and all the sudden it is beautiful and responsive on my mobile phone!!!!!! THANK YOU!!!!&lt;br&gt;<br>        &lt;a href=&quot;https://wordpress.org/support/view/plugin-reviews/advanced-responsive-video-embedder?filter=5&quot;&gt;review by happyecho&lt;/a&gt;<br>    &lt;/div&gt;<br>&lt;/div&gt;

</p>
<p>&lt;div class=&quot;media&quot;&gt;<br>    &lt;div class=&quot;media-left&quot;&gt;<br>        &lt;img class=&quot;media-object img-circle&quot; src=&quot;https://www.gravatar.com/avatar/0ff987ed648114d5f81796594a9fcaf8?d=mm&amp;s=140&amp;r=G&quot;&gt;<br>    &lt;/div&gt;<br>    &lt;div class=&quot;media-body media-middle&quot;&gt;<br>        &lt;h4&gt;&#9733; &#9733; &#9733; &#9733; &#9733; Only Plug-in that worked&lt;/h4&gt;<br>        I used a lot of high ranking plug-ins but they still broke my design. Downloaded this and worked right away. Thanks!&lt;br&gt;<br>        &lt;a href=&quot;https://wordpress.org/support/view/plugin-reviews/advanced-responsive-video-embedder?filter=5&quot;&gt;review by crconnell89&lt;/a&gt;<br>    &lt;/div&gt;<br>&lt;/div&gt;
</p>
