<h3 id="-arve-amp-addon-https-nextgenthemes-com-plugins-arve-accelerated-mobile-pages-addon-"><a href="https://nextgenthemes.com/plugins/arve-accelerated-mobile-pages-addon/">ARVE AMP Addon</a></h3>
<ul>
<li>Requires the gratis plugins <a href="https://wordpress.org/plugins/advanced-responsive-video-embedder/">ARVE</a> and <a href="https://wordpress.org/plugins/amp/">AMP</a></li>
<li>Makes ARVE ready for Accelerated Mobile Pages (AMP)</li>
<li>It will display videos embedded with ARVE on AMP pages correctly</li>
<li>No options, just works</li>
<li>It creates &lt;amp-youtube&gt;, &lt;amp-vimeo&gt;, &lt;amp-dailymotion&gt; elements</li>
<li>For all other video hosts supported by ARVE &lt;amp-iframe&gt; element is used</li>
<li>HTML5 video files are also supported with &lt;amp-video&gt;</li>
</ul>
<p><strong><a href="https://nextgenthemes.com/plugins/arve-accelerated-mobile-pages-addon/">Check out the ARVE AMP Addon</a></strong></p>
