<h3 id="thanks">Thanks</h3>
<ul>
<li>Howard Iken of <a href="https://www.myfloridalaw.com">myfloridalaw.com</a> top donor, super nice to me even if I was rude and not deserved it!</li>
<li><a href="https://www.ilyagrishkov.com">Ilya Grishkov</a> for bringing up the idea and the first code to cache thumbnail urls.</li>
<li>Anybody giving contructive feedback, testing beta versions.</li>
<li>Anybody I forgot.</li>
</ul>
<h3 id="thanks-to-the-developers-of-the-software-used-in-arve">Thanks to the developers of the software used in ARVE</h3>
<ul>
<li><a href="https://wordpress.org/plugins/shortcode-ui/">Shortcode UI</a>, optional Plugin, utilized by ARVE</li>
<li><a href="http://sorgalla.com/lity/">Lity Lightbox</a>, used in <a href="https://nextgenthemes.com/plugins/advanced-responsive-video-embedder-pro/#purchase">Pro Addon</a>)</li>
</ul>
