<h2 id="installation">Installation</h2>
<p>Please refer to <a href="https://codex.wordpress.org/Managing_Plugins#Automatic_Plugin_Installation">codex.wordpress.org/Managing_Plugins#Automatic_Plugin_Installation</a>.</p>
<h2 id="frequently-asked-questions">Frequently Asked Questions</h2>
<h3 id="i-have-a-problem-">I have a problem ...</h3>
<p>Please report it on <a href="https://nextgenthemes.com/support/">nextgenthemes.com/support/</a> <strong>and please do not on the wordpess.org forums, thanks.</strong></p>
<h3 id="how-to-get-the-pro-version-working-">How to get the pro version working?</h3>
<ol>
<li>Go though the purchase process on <a href="https://nextgenthemes.com/advanced-responsive-video-embedder-pro/">nextgenthemes.com/advanced-responsive-video-embedder-pro/</a></li>
<li>Follow the 3 easy steps you get with the purchase receipt. It is basically downloading a arve-pro.zip and installing it through your WordPress Admin panel.</li>
</ol>
<h3 id="why-are-my-videos-not-filling-their-container-">Why are my videos not filling their container?</h3>
<p>You are most likely use <code>align</code>, this plugin has a option for limiting video with with alignment. If you want your videos to fill their containers then you should not use the <code>align</code> shortcode attribute. This assumes that you left the &#39;Video Maximal Width&#39; field on the options page empty (default + recommended)</p>
<h3 id="can-you-add-a-video-provider-">Can you add a video provider?</h3>
<p>I have no plans on implementing providers that include videos via JavaScript such as www.nicovideo.jp. I also will not implement video services from mainstream media news organizations. For others, feel free to ask.</p>
<h3 id="how-do-i-embed-videos-from-a-unlisted-providers-iframes-">How do I embed videos from a unlisted providers / iframes?</h3>
<p>This plugin not changes anything to usual HTML <code>&lt;iframe&gt;</code> embed codes you have to use the shortcode creator dialog and paste iframe embed codes there or write them manually. They will become <code>[arve url=&quot;https://...&quot;]</code>. The url represents what is the <code>src</code> in HTML embeds. It works as simple as this, if the [arve] shortcode does not detect a known URL structure then it will treat the URL as a <code>src</code> for the iframe.</p>
<h3 id="why-does-my-youtube-video-not-repeat-loop-">Why does my YouTube video not repeat/loop?</h3>
<p>This plugins embed is considered as &#39;custom player&#39; by YouTube so you have to pass the video ID as playlist parameters to make the loop work.</p>
<p><code>[arve url=&quot;https://www.youtube.com/watch?v=pvRqvX413Ik&quot; parameters=&quot;loop=1&amp;playlist=pvRqvX413Ik&quot;]</code></p>
<h2 id="screenshots">Screenshots</h2>
<ol>
<li>Main Options</li>
<li>Pro Options</li>
<li>Features</li>
</ol>
