.mgl_tubelab_channel {
	overflow: hidden;

	.mgl_tubelab_banner {
		background-size:cover;
		position: relative;
		height: 200px;
		text-align: center;
		padding: 20px;
		@media (min-width: $tubelab-screen-sm) {
			text-align: left;
			padding: 0;
		}
	}

	.mgl_tubelab_channel_info {
		
		.mgl_tubelab_channel_title {
			font-size:30px;
			font-weight:bold;
		}

		.mgl_tubelab_channel_statistics {
			margin-left: -10px;
			text-transform: uppercase;
			> div {
				padding: 5px 0;
				display: none;
				&:first-child {
					display: block;
				}
				@media (min-width: $tubelab-screen-sm) {
					padding: 20px 10px;
					display: inline-block;
					&:first-child {
						display: inline-block;
					}
				}
			}
		}

		@media (min-width: $tubelab-screen-sm) {
			padding-left: 140px;
			position: absolute;
			top: 50%;
			transform:translateY(-25%);
			left: 30px;
		}
	}

	.mgl_tubelab_user_avatar {
		width: 60px;
		height: 60px;
		display: block;
		margin: 0 auto 10px;
		img {
			display: block;
			width: 100%;
			height: auto;
		}

		@media (min-width: $tubelab-screen-sm) {
			width: 120px;
			height: 120px;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.mgl_tubelab_channel_title {
		position: relative;

		.mgl_tubelab_channel_button {
			margin-top: 20px;
			margin-bottom: 10px;
		}

		@media (min-width: $tubelab-screen-sm) {
			padding-right: 130px;
			display: inline-block;
			.mgl_tubelab_channel_button {
				position: absolute;
				bottom: -5px;
				right: 0;
				margin: 0;
			}
		}
	}

	.mgl_tubelab_channel_playlist_nav {
		position: relative;
		.mgl_tubelab_channel_playlist_nav_toggle {
			padding: 10px $tubelab-grid-padding;
			text-align: center;
			display: block;
			@media (min-width: $tubelab-screen-sm) {
				display: none;
			}
		}
		ul {
			height: 0;
			opacity: 0;
			list-style:none;
			margin: 0;
			padding: 0;
			transition: opacity .25s, height .25s;
			@media (min-width: $tubelab-screen-sm) {
				display: flex;
				opacity: 1;
				height: auto;
			}
			li {
				list-style:none;
				margin: 0;
				padding: 0;
				a {
					padding: 10px $tubelab-grid-padding;
					display: block;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}
		}

		&.mgl_tubelab_channel_playlist_nav-open {
			ul {
				height: auto;
				opacity: 1;
			}
		}
	}

	.mgl_tubelab_channel_playlists {
		padding: $tubelab-grid-padding*2;
		.mgl_tubelab_channel_playlist {
			display: none;
			&.mgl_tubelab_channel_playlist-active {
				display: block;
			}
		}
	}

	&.mgl_tubelab_channel_mini {
		.mgl_tubelab_banner {
			text-align: center;
			.mgl_tubelab_channel_info {
				position: relative;
				top: auto;
				left: auto;
				transform:none;
				padding: 20px;
				.mgl_tubelab_user_avatar {
					display: block;
					width: 60px;
					height: 60px;
					position: relative;
					top: auto;
					left: auto;
					margin: 0 auto 10px;
				}
				.mgl_tubelab_channel_title {
					padding-right: 0;
					.mgl_tubelab_channel_button {
						position: relative;
						bottom: auto;
						right: auto;
						margin-top: 15px;
					}
				}
				.mgl_tubelab_channel_statistics > div {
    				padding: 10px 0;
    				display: none;
    				&:first-child {
    					display: block;
    				}
    			}
			}
		}
		
	}
}

