.mgl_tubelab_content {
	margin: -$tubelab-grid-padding;
	&:after {
		content: " ";
		display: block;
		width: 100%;
		clear: both;
	}
	display:flex;
	flex-wrap: wrap;
	align-items: stretch;
}
.mgl_tubelab_col {
	width: 100%;
	padding: $tubelab-grid-padding;
	position: relative;
	display:flex;
}

.mgl_tubelab_content {

	@media (min-width: $tubelab-screen-sm) {
  		@include mgl_tubelab_cols(1, 2);
	}

	@media (min-width: $tubelab-screen-md) {
		@include mgl_tubelab_cols(3, 12);
	}
}
