.mgl_tubelab_item {
	overflow: hidden;
	position: relative;
	flex-grow:1;
	display:flex;
	flex-direction:column;

	.mgl_tubelab_item_info {
		flex-grow: 1;
	}

	.mgl_tubelab_item_title {
		font-weight:bold;
		margin-bottom: 10px;
	}

	.mgl_tubelab_item_metas {
		display: flex;
		padding: 5px $tubelab-item-padding/2;
		color: #aaa;
		font-size: 11px;
		align-items: stretch;
		.mgl_tubelab_item_meta {
			flex-grow: 1;
			padding: 0 $tubelab-item-padding/2;
			text-align: center;
		}
		i[class^="mgl_tubelab-icon-"] {
			font-size: 16px;
			//transform:translateY(2px);
			display: inline-block;
		}
	}

}

.mgl_tubelab_video {
	position: relative;
	display:block;

	&:hover {
		.mgl_tubelab_video_play {
			background-color: $tubelab-primary;
		}
	}
}

.mgl_tubelab_video_thumbnail {
	display:block;
	width: 100%;
	height: auto;
}

.mgl_tubelab_video_play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	background-color: $tubelab-item-elements-bg;
	z-index:1;
	padding: 10px 20px;
	border-radius:10px;
	color:#fff;
	font-size: 18px;
	text-align: center;
	transition: background-color .5s;
}
.mgl_tubelab_video_time {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: $tubelab-item-elements-bg;
	z-index: 1;
	padding: 5px 10px;
	color:#fff;
	border-radius:3px;
	font-size: 12px;
}
