@mixin mgl_tubelab_cols($start, $limit) {
	$responsive-limit : 1;

	@for $i from $start through 12 {

		@if $i > $limit {
			$responsive-limit : $limit;
		} @else {
			$responsive-limit : $i;				
		}

		&.mgl_tubelab_content-cols#{$i} {
			.mgl_tubelab_col { width: (100%/$responsive-limit); }
		}
	
	}
}

@mixin mgl_tubelab_button($bg, $shadow, $padding, $color) {
	
	background-color: $bg;
	box-shadow:$shadow;
	padding: $padding;
	color: $color;
	border-radius: $tubelab-item-radius;
}

@mixin mgl_image_circle($size) {
	border-radius: 50%;
	overflow: hidden;
	img {
		display: block;
		width: $size;
		height: auto;
	}
}