.mgl_tubelab_pagination {
	display:flex;
	margin-top: $tubelab-grid-padding*2;
	text-align: left;
	.mgl_tubelab_pagination_item {
		flex-grow: 1;
	}
	.mgl_tubelab_pagination_item_next {
		text-align: right;
	}
}