.mgl_tubelab_single {
	overflow: hidden;
	.mgl_tubelab_single_title {
		font-size: $tubelab-single-title-size;
	}
	.mgl_tubelab_single_published {
		font-size: 14px;
		margin-top: 10px;
	}
	.mgl_tubelab_single_metas {
		display: flex;
		padding: $tubelab-single-padding/2 $tubelab-single-padding;
		color: #aaa;
		font-size: 11px;
		.mgl_tubelab_single_meta {
			flex-grow:1;
			padding: 0 $tubelab-item-padding/2;
			text-align: center;
		}
		i[class^="mgl_tubelab-icon-"] {
			font-size: 18px;
			display: inline-block;
		}
	}
}
