.mgl_tubelab {
	font-size:14px;
	box-sizing:border-box;
	* {
		box-sizing:border-box;
	}
	a {
		border:none;
		color: $tubelab-primary;
	}
	.mgl_tubelab_subscribe_button .fluid-width-video-wrapper {
		padding-top: 0 !important;
	}
	.mgl_tubelab_empty {
		text-align: center;
		padding: 20px;
		flex-grow:1;
	}
}

.mgl_tubelab_container {
  position: relative;
  .mgl_tubelab_content {
    min-height: 100px;
    &:after {
      content: " ";
      clear: both;
      width: 100%;
      display: block;
    }
  }
}