$tubelab-primary: 					#cc181e;

$tubelab-grid-padding: 				15px;

$tubelab-item-padding: 				15px;
$tubelab-item-shadow: 				0 0 4px -1px rgba(0,0,0,.15), 0 2px 4px -2px rgba(0,0,0,.25);
$tubelab-item-border: 				#dedede;
$tubelab-item-radius:				3px;
$tubelab-item-elements-bg: 			rgba(0,0,0,.8);

$tubelab-single-padding: 			$tubelab-item-padding*2;
$tubelab-single-title-size:			20px;

$tubelab-btn-padding: 				10px;

$tubelab-screen-xs:                 480px;
$tubelab-screen-sm:                 768px;
$tubelab-screen-md:                 992px;
$tubelab-screen-lg:                 1320px;


// Templates
$tubelab-default-color:				#666;
$tubelab-default-bg:				#fff;

$tubelab-dark-color:				#999;
$tubelab-dark-bg:					#222;
$tubelab-dark-border:				lighten($tubelab-dark-bg, 10%);

$tubelab-border-color:				#999;