@charset "UTF-8";
.mgl_tubelab_spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 50%;
  margin-left: -35px;
}

.mgl_tubelab_spinner > div {
  width: 18px;
  height: 18px;
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.mgl_tubelab_spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.mgl_tubelab_spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.mgl_tubelab_pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  text-align: left;
}

.mgl_tubelab_pagination .mgl_tubelab_pagination_item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mgl_tubelab_pagination .mgl_tubelab_pagination_item_next {
  text-align: right;
}

.mgl_tubelab_channel {
  overflow: hidden;
}

.mgl_tubelab_channel .mgl_tubelab_banner {
  background-size: cover;
  position: relative;
  height: 200px;
  text-align: center;
  padding: 20px;
}

@media (min-width: 768px) {
  .mgl_tubelab_channel .mgl_tubelab_banner {
    text-align: left;
    padding: 0;
  }
}

.mgl_tubelab_channel .mgl_tubelab_channel_info .mgl_tubelab_channel_title {
  font-size: 30px;
  font-weight: bold;
}

.mgl_tubelab_channel .mgl_tubelab_channel_info .mgl_tubelab_channel_statistics {
  margin-left: -10px;
  text-transform: uppercase;
}

.mgl_tubelab_channel .mgl_tubelab_channel_info .mgl_tubelab_channel_statistics > div {
  padding: 5px 0;
  display: none;
}

.mgl_tubelab_channel .mgl_tubelab_channel_info .mgl_tubelab_channel_statistics > div:first-child {
  display: block;
}

@media (min-width: 768px) {
  .mgl_tubelab_channel .mgl_tubelab_channel_info .mgl_tubelab_channel_statistics > div {
    padding: 20px 10px;
    display: inline-block;
  }
  .mgl_tubelab_channel .mgl_tubelab_channel_info .mgl_tubelab_channel_statistics > div:first-child {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .mgl_tubelab_channel .mgl_tubelab_channel_info {
    padding-left: 140px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
            transform: translateY(-25%);
    left: 30px;
  }
}

.mgl_tubelab_channel .mgl_tubelab_user_avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto 10px;
}

.mgl_tubelab_channel .mgl_tubelab_user_avatar img {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .mgl_tubelab_channel .mgl_tubelab_user_avatar {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.mgl_tubelab_channel .mgl_tubelab_channel_title {
  position: relative;
}

.mgl_tubelab_channel .mgl_tubelab_channel_title .mgl_tubelab_channel_button {
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .mgl_tubelab_channel .mgl_tubelab_channel_title {
    padding-right: 130px;
    display: inline-block;
  }
  .mgl_tubelab_channel .mgl_tubelab_channel_title .mgl_tubelab_channel_button {
    position: absolute;
    bottom: -5px;
    right: 0;
    margin: 0;
  }
}

.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav {
  position: relative;
}

.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle {
  padding: 10px 15px;
  text-align: center;
  display: block;
}

@media (min-width: 768px) {
  .mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle {
    display: none;
  }
}

.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav ul {
  height: 0;
  opacity: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: opacity 0.25s, height 0.25s;
          transition: opacity 0.25s, height 0.25s;
}

@media (min-width: 768px) {
  .mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    height: auto;
  }
}

.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav ul li a {
  padding: 10px 15px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav.mgl_tubelab_channel_playlist_nav-open ul {
  height: auto;
  opacity: 1;
}

.mgl_tubelab_channel .mgl_tubelab_channel_playlists {
  padding: 30px;
}

.mgl_tubelab_channel .mgl_tubelab_channel_playlists .mgl_tubelab_channel_playlist {
  display: none;
}

.mgl_tubelab_channel .mgl_tubelab_channel_playlists .mgl_tubelab_channel_playlist.mgl_tubelab_channel_playlist-active {
  display: block;
}

.mgl_tubelab_channel.mgl_tubelab_channel_mini .mgl_tubelab_banner {
  text-align: center;
}

.mgl_tubelab_channel.mgl_tubelab_channel_mini .mgl_tubelab_banner .mgl_tubelab_channel_info {
  position: relative;
  top: auto;
  left: auto;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  padding: 20px;
}

.mgl_tubelab_channel.mgl_tubelab_channel_mini .mgl_tubelab_banner .mgl_tubelab_channel_info .mgl_tubelab_user_avatar {
  display: block;
  width: 60px;
  height: 60px;
  position: relative;
  top: auto;
  left: auto;
  margin: 0 auto 10px;
}

.mgl_tubelab_channel.mgl_tubelab_channel_mini .mgl_tubelab_banner .mgl_tubelab_channel_info .mgl_tubelab_channel_title {
  padding-right: 0;
}

.mgl_tubelab_channel.mgl_tubelab_channel_mini .mgl_tubelab_banner .mgl_tubelab_channel_info .mgl_tubelab_channel_title .mgl_tubelab_channel_button {
  position: relative;
  bottom: auto;
  right: auto;
  margin-top: 15px;
}

.mgl_tubelab_channel.mgl_tubelab_channel_mini .mgl_tubelab_banner .mgl_tubelab_channel_info .mgl_tubelab_channel_statistics > div {
  padding: 10px 0;
  display: none;
}

.mgl_tubelab_channel.mgl_tubelab_channel_mini .mgl_tubelab_banner .mgl_tubelab_channel_info .mgl_tubelab_channel_statistics > div:first-child {
  display: block;
}

.mgl_tubelab_item {
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mgl_tubelab_item .mgl_tubelab_item_info {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mgl_tubelab_item .mgl_tubelab_item_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.mgl_tubelab_item .mgl_tubelab_item_metas {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 7.5px;
  color: #aaa;
  font-size: 11px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.mgl_tubelab_item .mgl_tubelab_item_metas .mgl_tubelab_item_meta {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 7.5px;
  text-align: center;
}

.mgl_tubelab_item .mgl_tubelab_item_metas i[class^="mgl_tubelab-icon-"] {
  font-size: 16px;
  display: inline-block;
}

.mgl_tubelab_video {
  position: relative;
  display: block;
}

.mgl_tubelab_video:hover .mgl_tubelab_video_play {
  background-color: #cc181e;
}

.mgl_tubelab_video_thumbnail {
  display: block;
  width: 100%;
  height: auto;
}

.mgl_tubelab_video_play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}

.mgl_tubelab_video_time {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
}

.mgl_tubelab_content {
  margin: -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.mgl_tubelab_content:after {
  content: " ";
  display: block;
  width: 100%;
  clear: both;
}

.mgl_tubelab_col {
  width: 100%;
  padding: 15px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .mgl_tubelab_content.mgl_tubelab_content-cols1 .mgl_tubelab_col {
    width: 100%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols2 .mgl_tubelab_col {
    width: 50%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols3 .mgl_tubelab_col {
    width: 50%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols4 .mgl_tubelab_col {
    width: 50%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols5 .mgl_tubelab_col {
    width: 50%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols6 .mgl_tubelab_col {
    width: 50%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols7 .mgl_tubelab_col {
    width: 50%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols8 .mgl_tubelab_col {
    width: 50%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols9 .mgl_tubelab_col {
    width: 50%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols10 .mgl_tubelab_col {
    width: 50%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols11 .mgl_tubelab_col {
    width: 50%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols12 .mgl_tubelab_col {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .mgl_tubelab_content.mgl_tubelab_content-cols3 .mgl_tubelab_col {
    width: 33.33333%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols4 .mgl_tubelab_col {
    width: 25%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols5 .mgl_tubelab_col {
    width: 20%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols6 .mgl_tubelab_col {
    width: 16.66667%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols7 .mgl_tubelab_col {
    width: 14.28571%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols8 .mgl_tubelab_col {
    width: 12.5%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols9 .mgl_tubelab_col {
    width: 11.11111%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols10 .mgl_tubelab_col {
    width: 10%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols11 .mgl_tubelab_col {
    width: 9.09091%;
  }
  .mgl_tubelab_content.mgl_tubelab_content-cols12 .mgl_tubelab_col {
    width: 8.33333%;
  }
}

.mgl_tubelab_single {
  overflow: hidden;
}

.mgl_tubelab_single .mgl_tubelab_single_title {
  font-size: 20px;
}

.mgl_tubelab_single .mgl_tubelab_single_published {
  font-size: 14px;
  margin-top: 10px;
}

.mgl_tubelab_single .mgl_tubelab_single_metas {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 30px;
  color: #aaa;
  font-size: 11px;
}

.mgl_tubelab_single .mgl_tubelab_single_metas .mgl_tubelab_single_meta {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 7.5px;
  text-align: center;
}

.mgl_tubelab_single .mgl_tubelab_single_metas i[class^="mgl_tubelab-icon-"] {
  font-size: 18px;
  display: inline-block;
}

@font-face {
  font-family: 'mgl_tubelab_fontello';
  src: url("../font/fontello.eot?19055856");
  src: url("../font/fontello.eot?19055856#iefix") format("embedded-opentype"), url("../font/fontello.woff?19055856") format("woff"), url("../font/fontello.ttf?19055856") format("truetype"), url("../font/fontello.svg?19055856#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mgl_tubelab_fontello';
    src: url('../font/fontello.svg?19055856#fontello') format('svg');
  }
}
*/
[class^="mgl_tubelab-icon-"]:before, [class*=" mgl_tubelab-icon-"]:before {
  font-family: "mgl_tubelab_fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.mgl_tubelab-icon-heart:before {
  content: '\e800';
}

/* '' */
.mgl_tubelab-icon-comment:before {
  content: '\e801';
}

/* '' */
.mgl_tubelab-icon-eye:before {
  content: '\e802';
}

/* '' */
.mgl_tubelab-icon-play:before {
  content: '\e803';
}

/* '' */
.mgl_tubelab {
  font-size: 14px;
  box-sizing: border-box;
}

.mgl_tubelab * {
  box-sizing: border-box;
}

.mgl_tubelab a {
  border: none;
  color: #cc181e;
}

.mgl_tubelab .mgl_tubelab_subscribe_button .fluid-width-video-wrapper {
  padding-top: 0 !important;
}

.mgl_tubelab .mgl_tubelab_empty {
  text-align: center;
  padding: 20px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mgl_tubelab_container {
  position: relative;
}

.mgl_tubelab_container .mgl_tubelab_content {
  min-height: 100px;
}

.mgl_tubelab_container .mgl_tubelab_content:after {
  content: " ";
  clear: both;
  width: 100%;
  display: block;
}

.mgl_tubelab_template_default {
  color: #666;
}

.mgl_tubelab_template_default .mgl_tubelab_item {
  background-color: #fff;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.15), 0 2px 4px -2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.mgl_tubelab_template_default .mgl_tubelab_item .mgl_tubelab_item_info {
  padding: 15px;
}

.mgl_tubelab_template_default .mgl_tubelab_item .mgl_tubelab_item_info + .mgl_tubelab_item_metas {
  border-top: 1px solid #dedede;
}

.mgl_tubelab_template_default .mgl_tubelab_pagination a {
  background-color: #fff;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.15), 0 2px 4px -2px rgba(0, 0, 0, 0.25);
  padding: 10px;
  color: #666;
  border-radius: 3px;
}

.mgl_tubelab_template_default.mgl_tubelab_channel {
  background-color: #eee;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.15), 0 2px 4px -2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.mgl_tubelab_template_default.mgl_tubelab_channel .mgl_tubelab_user_avatar {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
}

.mgl_tubelab_template_default.mgl_tubelab_channel .mgl_tubelab_channel_info {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.mgl_tubelab_template_default.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav {
  background-color: #333;
}

.mgl_tubelab_template_default.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item, .mgl_tubelab_template_default.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle {
  color: #fff;
  -webkit-transition: background-color 1s;
          transition: background-color 1s;
}

.mgl_tubelab_template_default.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item.mgl_tubelab_channel_playlist_nav_item-active, .mgl_tubelab_template_default.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item:hover, .mgl_tubelab_template_default.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle.mgl_tubelab_channel_playlist_nav_item-active, .mgl_tubelab_template_default.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle:hover {
  background-color: #232323;
}

.mgl_tubelab_template_default.mgl_tubelab_single {
  background-color: #fff;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.15), 0 2px 4px -2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.mgl_tubelab_template_default.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_title {
  font-weight: bold;
  padding: 30px;
  border-bottom: 1px solid #dedede;
}

.mgl_tubelab_template_default.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_title .mgl_tubelab_single_published {
  text-transform: uppercase;
  font-weight: normal;
}

.mgl_tubelab_template_default.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel {
  padding: 15px 30px;
  border-bottom: 1px solid #dedede;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
}

.mgl_tubelab_template_default.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_single_channel_avatar {
  float: left;
  display: inline-block;
  margin-right: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.mgl_tubelab_template_default.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_single_channel_avatar img {
  display: block;
  width: 64px;
  height: auto;
}

.mgl_tubelab_template_default.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_subscribe_button {
  margin-top: 10px;
}

.mgl_tubelab_template_default.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_description {
  padding: 30px;
  border-bottom: 1px solid #dedede;
}

.mgl_tubelab_template_dark {
  color: #999;
}

.mgl_tubelab_template_dark .mgl_tubelab_item {
  background-color: #222;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.15), 0 2px 4px -2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.mgl_tubelab_template_dark .mgl_tubelab_item .mgl_tubelab_item_title {
  color: #ddd;
}

.mgl_tubelab_template_dark .mgl_tubelab_item .mgl_tubelab_item_info {
  padding: 15px;
}

.mgl_tubelab_template_dark .mgl_tubelab_item .mgl_tubelab_item_info + .mgl_tubelab_item_metas {
  border-top: 1px solid #3c3c3c;
}

.mgl_tubelab_template_dark .mgl_tubelab_pagination a {
  background-color: #222;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.15), 0 2px 4px -2px rgba(0, 0, 0, 0.25);
  padding: 10px;
  color: #999;
  border-radius: 3px;
}

.mgl_tubelab_template_dark.mgl_tubelab_channel {
  background-color: #000;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.15), 0 2px 4px -2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.mgl_tubelab_template_dark.mgl_tubelab_channel .mgl_tubelab_user_avatar {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
}

.mgl_tubelab_template_dark.mgl_tubelab_channel .mgl_tubelab_channel_info {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.mgl_tubelab_template_dark.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav {
  background-color: #cc181e;
}

.mgl_tubelab_template_dark.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item, .mgl_tubelab_template_dark.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle {
  color: #fff;
  -webkit-transition: background-color 1s;
          transition: background-color 1s;
}

.mgl_tubelab_template_dark.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item.mgl_tubelab_channel_playlist_nav_item-active, .mgl_tubelab_template_dark.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item:hover, .mgl_tubelab_template_dark.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle.mgl_tubelab_channel_playlist_nav_item-active, .mgl_tubelab_template_dark.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle:hover {
  background-color: #9e1317;
}

.mgl_tubelab_template_dark.mgl_tubelab_single {
  background-color: #222;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.15), 0 2px 4px -2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.mgl_tubelab_template_dark.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_title {
  font-weight: bold;
  padding: 30px;
  border-bottom: 1px solid #3c3c3c;
}

.mgl_tubelab_template_dark.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_title .mgl_tubelab_single_published {
  text-transform: uppercase;
  font-weight: normal;
}

.mgl_tubelab_template_dark.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel {
  padding: 15px 30px;
  border-bottom: 1px solid #3c3c3c;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
}

.mgl_tubelab_template_dark.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_single_channel_avatar {
  float: left;
  display: inline-block;
  margin-right: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.mgl_tubelab_template_dark.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_single_channel_avatar img {
  display: block;
  width: 64px;
  height: auto;
}

.mgl_tubelab_template_dark.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_subscribe_button {
  margin-top: 10px;
}

.mgl_tubelab_template_dark.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_description {
  padding: 30px;
  border-bottom: 1px solid #3c3c3c;
}

.mgl_tubelab_template_border {
  color: #999;
}

.mgl_tubelab_template_border .mgl_tubelab_item {
  border: 2px solid #999;
}

.mgl_tubelab_template_border .mgl_tubelab_item .mgl_tubelab_item_info {
  padding: 15px;
  border-top: 2px solid #999;
}

.mgl_tubelab_template_border .mgl_tubelab_item .mgl_tubelab_item_info + .mgl_tubelab_item_metas {
  border-top: 2px solid #999;
}

.mgl_tubelab_template_border .mgl_tubelab_item .mgl_tubelab_item_metas {
  padding: 0;
}

.mgl_tubelab_template_border .mgl_tubelab_item .mgl_tubelab_item_metas .mgl_tubelab_item_meta {
  border-left: 2px solid #999;
  padding: 5px 10px;
}

.mgl_tubelab_template_border .mgl_tubelab_item .mgl_tubelab_item_metas .mgl_tubelab_item_meta:first-child {
  border: none;
}

.mgl_tubelab_template_border .mgl_tubelab_pagination a {
  border: 2px solid #999;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

.mgl_tubelab_template_border.mgl_tubelab_channel .mgl_tubelab_user_avatar {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
}

.mgl_tubelab_template_border.mgl_tubelab_channel .mgl_tubelab_channel_info {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.mgl_tubelab_template_border.mgl_tubelab_channel .mgl_tubelab_banner {
  border: 2px solid #999;
  border-bottom: 0;
}

.mgl_tubelab_template_border.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav {
  border: 2px solid #999;
}

.mgl_tubelab_template_border.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item, .mgl_tubelab_template_border.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle {
  color: #999;
  font-weight: bold;
}

.mgl_tubelab_template_border.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item.mgl_tubelab_channel_playlist_nav_item-active, .mgl_tubelab_template_border.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item:hover, .mgl_tubelab_template_border.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle.mgl_tubelab_channel_playlist_nav_item-active, .mgl_tubelab_template_border.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle:hover {
  color: gray;
}

.mgl_tubelab_template_border.mgl_tubelab_channel .mgl_tubelab_channel_playlists {
  padding-left: 0;
  padding-right: 0;
}

.mgl_tubelab_template_border.mgl_tubelab_single {
  border: 2px solid #999;
}

.mgl_tubelab_template_border.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_title {
  font-weight: bold;
  padding: 30px;
  border-bottom: 2px solid #999;
}

.mgl_tubelab_template_border.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_title .mgl_tubelab_single_published {
  text-transform: uppercase;
  font-weight: normal;
}

.mgl_tubelab_template_border.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel {
  padding: 15px 30px;
  border-bottom: 2px solid #999;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
}

.mgl_tubelab_template_border.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_single_channel_avatar {
  float: left;
  display: inline-block;
  margin-right: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #999;
}

.mgl_tubelab_template_border.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_single_channel_avatar img {
  display: block;
  width: 64px;
  height: auto;
}

.mgl_tubelab_template_border.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_subscribe_button {
  margin-top: 10px;
}

.mgl_tubelab_template_border.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_description {
  padding: 30px;
  border-bottom: 2px solid #999;
}

.mgl_tubelab_template_border.mgl_tubelab_single .mgl_tubelab_single_metas {
  padding: 0;
}

.mgl_tubelab_template_border.mgl_tubelab_single .mgl_tubelab_single_metas .mgl_tubelab_single_meta {
  border-left: 2px solid #999;
  padding: 15px 30px;
}

.mgl_tubelab_template_border.mgl_tubelab_single .mgl_tubelab_single_metas .mgl_tubelab_single_meta:first-child {
  border: none;
}

.mgl_tubelab_template_circle {
  color: #666;
}

.mgl_tubelab_template_circle .mgl_tubelab_item {
  display: block;
  text-align: center;
}

.mgl_tubelab_template_circle .mgl_tubelab_item .mgl_tubelab_item_title {
  margin-top: 20px;
}

.mgl_tubelab_template_circle .mgl_tubelab_item .mgl_tubelab_item_metas {
  margin-top: 20px;
}

.mgl_tubelab_template_circle .mgl_tubelab_item .mgl_tubelab_item_metas .mgl_tubelab_item_meta .mgl_tubelab_item_meta_icon {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.mgl_tubelab_template_circle .mgl_tubelab_item .mgl_tubelab_item_metas .mgl_tubelab_item_meta .mgl_tubelab_item_meta_icon i {
  padding: 10px;
  background-color: #333;
  border-radius: 50%;
}

.mgl_tubelab_template_circle .mgl_tubelab_video {
  border-radius: 50%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.mgl_tubelab_template_circle .mgl_tubelab_video .mgl_tubelab_video_time {
  display: none;
}

.mgl_tubelab_template_circle .mgl_tubelab_video .mgl_tubelab_video_play {
  border-radius: 50%;
  padding: 20px;
}

.mgl_tubelab_template_circle .mgl_tubelab_video .mgl_tubelab_video_thumbnail {
  -webkit-transform: translateY(40%) scale(1.8, 1.8);
      -ms-transform: translateY(40%) scale(1.8, 1.8);
          transform: translateY(40%) scale(1.8, 1.8);
}

.mgl_tubelab_template_circle.mgl_tubelab_channel {
  background-color: #eee;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.15), 0 2px 4px -2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  overflow: visible;
  margin-top: 90px;
}

.mgl_tubelab_template_circle.mgl_tubelab_channel .mgl_tubelab_user_avatar {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  top: auto;
  left: auto;
  margin: 0 auto;
}

.mgl_tubelab_template_circle.mgl_tubelab_channel .mgl_tubelab_channel_info {
  text-align: center;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-left: 0;
  position: relative;
  top: auto;
  left: auto;
}

.mgl_tubelab_template_circle.mgl_tubelab_channel .mgl_tubelab_channel_info .mgl_tubelab_channel_title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.mgl_tubelab_template_circle.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav {
  background-color: #333;
}

.mgl_tubelab_template_circle.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item, .mgl_tubelab_template_circle.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle {
  color: #fff;
  -webkit-transition: background-color 1s;
          transition: background-color 1s;
}

.mgl_tubelab_template_circle.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item.mgl_tubelab_channel_playlist_nav_item-active, .mgl_tubelab_template_circle.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item:hover, .mgl_tubelab_template_circle.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle.mgl_tubelab_channel_playlist_nav_item-active, .mgl_tubelab_template_circle.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle:hover {
  background-color: #232323;
}

.mgl_tubelab_template_circle.mgl_tubelab_single {
  text-align: center;
}

.mgl_tubelab_template_circle.mgl_tubelab_single .mgl_tubelab_single_info {
  margin-top: 20px;
}

.mgl_tubelab_template_circle.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_title {
  font-weight: bold;
}

.mgl_tubelab_template_circle.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_title .mgl_tubelab_single_published {
  text-transform: uppercase;
  font-weight: normal;
}

.mgl_tubelab_template_circle.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel {
  margin-top: 20px;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
}

.mgl_tubelab_template_circle.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_single_channel_avatar {
  margin: 0 auto;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}

.mgl_tubelab_template_circle.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_single_channel_avatar img {
  display: block;
  width: 64px;
  height: auto;
}

.mgl_tubelab_template_circle.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_single_channel_title {
  display: block;
}

.mgl_tubelab_template_circle.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_subscribe_button {
  margin-top: 10px;
}

.mgl_tubelab_template_circle.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_description {
  margin-top: 20px;
}

.mgl_tubelab_template_circle.mgl_tubelab_single .mgl_tubelab_single_metas {
  margin-top: 20px;
}

.mgl_tubelab_template_circle.mgl_tubelab_single .mgl_tubelab_single_metas .mgl_tubelab_single_meta .mgl_tubelab_single_meta_icon {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.mgl_tubelab_template_circle.mgl_tubelab_single .mgl_tubelab_single_metas .mgl_tubelab_single_meta .mgl_tubelab_single_meta_icon i {
  padding: 10px;
  background-color: #333;
  border-radius: 50%;
}

.mgl_tubelab_template_plain {
  color: #666;
}

.mgl_tubelab_template_plain .mgl_tubelab_video .mgl_tubelab_video_time {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  border-radius: 0;
  background-color: #fff;
  color: #666;
}

.mgl_tubelab_template_plain .mgl_tubelab_video .mgl_tubelab_video_play {
  border-radius: 0;
}

.mgl_tubelab_template_plain .mgl_tubelab_item {
  background-color: #fff;
}

.mgl_tubelab_template_plain .mgl_tubelab_item .mgl_tubelab_item_info {
  padding: 15px;
}

.mgl_tubelab_template_plain .mgl_tubelab_pagination a {
  background-color: #fff;
  box-shadow: none;
  padding: 10px;
  color: #666;
  border-radius: 3px;
}

.mgl_tubelab_template_plain.mgl_tubelab_channel {
  background-color: #eee;
}

.mgl_tubelab_template_plain.mgl_tubelab_channel .mgl_tubelab_channel_info {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.mgl_tubelab_template_plain.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav {
  background-color: #333;
}

.mgl_tubelab_template_plain.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item, .mgl_tubelab_template_plain.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle {
  color: #fff;
  -webkit-transition: background-color 1s;
          transition: background-color 1s;
}

.mgl_tubelab_template_plain.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item.mgl_tubelab_channel_playlist_nav_item-active, .mgl_tubelab_template_plain.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_item:hover, .mgl_tubelab_template_plain.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle.mgl_tubelab_channel_playlist_nav_item-active, .mgl_tubelab_template_plain.mgl_tubelab_channel .mgl_tubelab_channel_playlist_nav .mgl_tubelab_channel_playlist_nav_toggle:hover {
  background-color: #232323;
}

.mgl_tubelab_template_plain.mgl_tubelab_single {
  background-color: #fff;
}

.mgl_tubelab_template_plain.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_title {
  font-weight: bold;
  padding: 15px;
  font-size: 18px;
}

.mgl_tubelab_template_plain.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_title .mgl_tubelab_single_published {
  text-transform: uppercase;
  font-weight: normal;
}

.mgl_tubelab_template_plain.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel {
  padding: 15px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
}

.mgl_tubelab_template_plain.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_single_channel_avatar {
  float: left;
  display: inline-block;
  margin-right: 30px;
}

.mgl_tubelab_template_plain.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_channel .mgl_tubelab_subscribe_button {
  margin-top: 10px;
}

.mgl_tubelab_template_plain.mgl_tubelab_single .mgl_tubelab_single_info .mgl_tubelab_single_description {
  padding: 15px;
}
