.mgl_col_left { float: left; width:70%; }
.mgl_col_right { float: right; width:25%;padding-right: 20px;}
.mgl_col_right .mgl_banner img { width: 100%; max-width: 300px; }

.mgl_tubelab_box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    min-width: 255px;
    position: relative;
    line-height: 1;
    margin-bottom: 20px;
    padding: 0;
}

.mgl_tubelab_box h3 {
    border-bottom: 1px solid #eee;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 8px 12px;
}

.mgl_tubelab_box .mgl_tubelab_box_inside {
    margin: 11px 0;
    position: relative;
    font-size: 13px;
    line-height: 1.4em;
    padding: 0 12px 12px;
}
.mgl_tubelab_box .mgl_tubelab_table { border-collapse:collapse; width: 100%; }
.mgl_tubelab_box .mgl_tubelab_table tr td { border-top: 1px solid #eee; padding: 10px 5px; }
.mgl_tubelab_box .mgl_tubelab_table tr:first-child td { border-top-width: 0; }
.mgl_tubelab_box .mgl_tubelab_table tr:nth-child(2n+1) td { background-color: #f7f7f7; }

.settings_page_mgl-tubelab .updated { margin-top: 30px !important; }
.settings_page_mgl-tubelab .nav-tab-wrapper + h2 { margin-top: 30px !important; }

.vc_element-icon.mgl_tubelab {
    background: url('../images/mgl_tubelab_vc_extend.png') no-repeat;
    background-size: 32px 32px;
}