.mgl_tubelab_template_border {
	color: $tubelab-border-color;

	.mgl_tubelab_item {
		border:2px solid $tubelab-border-color;

		.mgl_tubelab_item_info {
			padding: $tubelab-item-padding;
			border-top:2px solid $tubelab-border-color;
			& + .mgl_tubelab_item_metas {
				border-top:2px solid $tubelab-border-color;
			}
		}

		.mgl_tubelab_item_metas {
			padding: 0;
			.mgl_tubelab_item_meta {
				border-left:2px solid $tubelab-border-color;
				padding: 5px 10px;
				&:first-child {
					border:none;
				}
			}
		}
	}

	.mgl_tubelab_pagination {
		a {
			border:2px solid $tubelab-border-color;
			padding: $tubelab-btn-padding;
			font-weight: bold;
			text-transform: uppercase;
			color:$tubelab-border-color;
		}
	}

	&.mgl_tubelab_channel {

		.mgl_tubelab_user_avatar {
			border-radius:50%;
			overflow: hidden;
			box-shadow: 0 7px 5px rgba(0,0,0,.2);
		}

		.mgl_tubelab_channel_info {
			text-shadow: 0 2px 5px rgba(0,0,0,.5);
			color:#fff;
		}

		.mgl_tubelab_banner {
			border:2px solid $tubelab-border-color;
			border-bottom:0;
		}

		.mgl_tubelab_channel_playlist_nav {
			border:2px solid $tubelab-border-color;
			.mgl_tubelab_channel_playlist_nav_item, .mgl_tubelab_channel_playlist_nav_toggle {
				color:$tubelab-border-color;
				font-weight: bold;
				&.mgl_tubelab_channel_playlist_nav_item-active, &:hover {
					color: darken($tubelab-border-color, 10%);
				}
			}
		}

		.mgl_tubelab_channel_playlists {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&.mgl_tubelab_single {
		border:2px solid $tubelab-border-color;
		.mgl_tubelab_single_info {
			.mgl_tubelab_single_title {
				font-weight:bold;
				padding: $tubelab-single-padding;
				border-bottom: 2px solid $tubelab-border-color;
				.mgl_tubelab_single_published {
	
					text-transform: uppercase;
					font-weight: normal;
				}
			}
			.mgl_tubelab_single_channel {
				padding: $tubelab-single-padding/2 $tubelab-single-padding;
				border-bottom: 2px solid $tubelab-border-color;
				overflow: hidden;
				font-size:20px;
				font-weight:bold;
				.mgl_tubelab_single_channel_avatar {
					float: left;
					display: inline-block;
					margin-right: 30px;
					@include mgl_image_circle(64px);
					border:2px solid $tubelab-border-color;
				}
				.mgl_tubelab_subscribe_button {
					margin-top: 10px;
				}
			}
			.mgl_tubelab_single_description {
				padding: $tubelab-single-padding;
				border-bottom: 2px solid $tubelab-border-color;
			}
		}

		.mgl_tubelab_single_metas {
			padding: 0;
			.mgl_tubelab_single_meta {
				border-left:2px solid $tubelab-border-color;
				padding: $tubelab-single-padding/2 $tubelab-single-padding;
				&:first-child {
					border:none;
				}
			}
		}

	}
}