.mgl_tubelab_template_circle {
	color: $tubelab-default-color;
	
	.mgl_tubelab_item {
		display: block;
		text-align: center;
		.mgl_tubelab_item_title {
			margin-top: 20px;
		}
		.mgl_tubelab_item_metas {
			margin-top: 20px;
			.mgl_tubelab_item_meta {
				.mgl_tubelab_item_meta_icon {
					display: block;
					margin-bottom: 5px;
					color:#fff;
					i {
						padding: 10px;
						background-color: #333;
						border-radius:50%;
					}
				}
			}
		}
	}

	.mgl_tubelab_video {
		border-radius: 50%;
		height: 0;
		padding-bottom: 100%;
		overflow: hidden;
		.mgl_tubelab_video_time {
			display: none;
		}
		.mgl_tubelab_video_play {
			border-radius: 50%;
			padding: 20px;
		}
		.mgl_tubelab_video_thumbnail {
			transform: translateY(40%) scale(1.8, 1.8);
		}
	}

	&.mgl_tubelab_channel {
		background-color: #eee;
		box-shadow: $tubelab-item-shadow;
		border-radius: $tubelab-item-radius;
		overflow: visible;
		margin-top: 90px;

		.mgl_tubelab_user_avatar {
			border-radius:50%;
			overflow: hidden;
			box-shadow: 0 7px 5px rgba(0,0,0,.2);
			position: relative;
			top:auto;
			left:auto;
			margin: 0 auto;
		}

		.mgl_tubelab_channel_info {
			text-align: center;
			text-shadow: 0 2px 5px rgba(0,0,0,.5);
			color:#fff;
			padding-left: 0;
			position: relative;
			top:auto;
			left:auto;
			.mgl_tubelab_channel_title {
				margin-top: 20px;
				margin-bottom: 10px;
			}
		}

		.mgl_tubelab_channel_playlist_nav {
			background-color: #333;
			.mgl_tubelab_channel_playlist_nav_item, .mgl_tubelab_channel_playlist_nav_toggle {
				color:#fff;
				transition: background-color 1s;
				&.mgl_tubelab_channel_playlist_nav_item-active, &:hover {
					background-color: #232323;
				}
			}
		}
	}

	&.mgl_tubelab_single {
		text-align: center;
		.mgl_tubelab_single_info {
			margin-top: 20px;
			.mgl_tubelab_single_title {
				font-weight:bold;
				.mgl_tubelab_single_published {
					text-transform: uppercase;
					font-weight: normal;
				}
			}
			.mgl_tubelab_single_channel {
				margin-top: 20px;
				overflow: hidden;
				font-size:20px;
				font-weight:bold;
				.mgl_tubelab_single_channel_avatar {
					margin: 0 auto;
					display: inline-block;
					@include mgl_image_circle(64px);
				}
				.mgl_tubelab_single_channel_title {
					display: block;
				}
				.mgl_tubelab_subscribe_button {
					margin-top: 10px;
				}
			}
			.mgl_tubelab_single_description {
				margin-top: 20px;
			}
		}

		.mgl_tubelab_single_metas {
			margin-top: 20px;
			.mgl_tubelab_single_meta {
				.mgl_tubelab_single_meta_icon {
					display: block;
					margin-bottom: 5px;
					color:#fff;
					i {
						padding: 10px;
						background-color: #333;
						border-radius:50%;
					}
				}
			}
		}

	}

}