.mgl_tubelab_template_dark {
	color: $tubelab-dark-color;
	
	.mgl_tubelab_item {
		background-color: $tubelab-dark-bg;
		box-shadow:$tubelab-item-shadow;
		border-radius: $tubelab-item-radius;

		.mgl_tubelab_item_title {
			color:#ddd;
		}

		.mgl_tubelab_item_info {
			padding: $tubelab-item-padding;
			& + .mgl_tubelab_item_metas {
				border-top:1px solid $tubelab-dark-border;
			}
		}

	}

	.mgl_tubelab_pagination {
		a {
			@include mgl_tubelab_button( $tubelab-dark-bg, $tubelab-item-shadow, $tubelab-btn-padding, $tubelab-dark-color );
		}
	}

	&.mgl_tubelab_channel {
		background-color: #000;
		box-shadow: $tubelab-item-shadow;
		border-radius: $tubelab-item-radius;

		.mgl_tubelab_user_avatar {
			border-radius:50%;
			overflow: hidden;
			box-shadow: 0 7px 5px rgba(0,0,0,.2);
		}

		.mgl_tubelab_channel_info {
			text-shadow: 0 2px 5px rgba(0,0,0,.5);
			color:#fff;
		}

		.mgl_tubelab_channel_playlist_nav {
			background-color: $tubelab-primary;
			.mgl_tubelab_channel_playlist_nav_item, .mgl_tubelab_channel_playlist_nav_toggle {
				color:#fff;
				transition: background-color 1s;
				&.mgl_tubelab_channel_playlist_nav_item-active, &:hover {
					background-color: darken($tubelab-primary, 10%);
				}
			}
		}
	}

	&.mgl_tubelab_single {
		background-color: $tubelab-dark-bg;
		box-shadow: $tubelab-item-shadow;
		border-radius: $tubelab-item-radius;
		.mgl_tubelab_single_info {
			.mgl_tubelab_single_title {
				font-weight:bold;
				padding: $tubelab-single-padding;
				border-bottom: 1px solid $tubelab-dark-border;
				.mgl_tubelab_single_published {
	
					text-transform: uppercase;
					font-weight: normal;
				}
			}
			.mgl_tubelab_single_channel {
				padding: $tubelab-single-padding/2 $tubelab-single-padding;
				border-bottom: 1px solid $tubelab-dark-border;
				overflow: hidden;
				font-size:20px;
				font-weight:bold;
				.mgl_tubelab_single_channel_avatar {
					float: left;
					display: inline-block;
					margin-right: 30px;
					@include mgl_image_circle(64px);
				}
				.mgl_tubelab_subscribe_button {
					margin-top: 10px;
				}
			}
			.mgl_tubelab_single_description {
				padding: $tubelab-single-padding;
				border-bottom: 1px solid $tubelab-dark-border;
			}
		}
	}

}