.mgl_tubelab_template_plain {
	color: $tubelab-default-color;

	.mgl_tubelab_video {
		.mgl_tubelab_video_time {
			top: 0;
			left: 0;
			right: auto;
			bottom: auto;
			border-radius: 0;
			background-color: #fff;
			color: $tubelab-default-color;

		}
		.mgl_tubelab_video_play {
			border-radius: 0;
		}
	}
	
	.mgl_tubelab_item {
		background-color: $tubelab-default-bg;

		.mgl_tubelab_item_info {
			padding: $tubelab-item-padding;
		}
	}

	.mgl_tubelab_pagination {
		a {
			@include mgl_tubelab_button( $tubelab-default-bg, none, $tubelab-btn-padding, $tubelab-default-color );
		}
	}

	&.mgl_tubelab_channel {
		background-color: #eee;

		.mgl_tubelab_user_avatar {
		}

		.mgl_tubelab_channel_info {
			color:#fff;
			background-color:rgba(#000, .8);
			padding-top: 10px;
			padding-right: 20px;
			padding-bottom: 10px;
		}

		.mgl_tubelab_channel_playlist_nav {
			background-color: #333;
			.mgl_tubelab_channel_playlist_nav_item, .mgl_tubelab_channel_playlist_nav_toggle {
				color:#fff;
				transition: background-color 1s;
				&.mgl_tubelab_channel_playlist_nav_item-active, &:hover {
					background-color: #232323;
				}
			}
		}
	}

	&.mgl_tubelab_single {
		background-color: $tubelab-default-bg;
		.mgl_tubelab_single_info {
			.mgl_tubelab_single_title {
				font-weight:bold;
				padding: $tubelab-single-padding/2;
				font-size: 18px;
				.mgl_tubelab_single_published {
					text-transform: uppercase;
					font-weight: normal;
				}
			}
			.mgl_tubelab_single_channel {
				padding: $tubelab-single-padding/2;
				overflow: hidden;
				font-size:16px;
				font-weight:bold;
				.mgl_tubelab_single_channel_avatar {
					float: left;
					display: inline-block;
					margin-right: 30px;
				}
				.mgl_tubelab_subscribe_button {
					margin-top: 10px;
				}
			}
			.mgl_tubelab_single_description {
				padding: $tubelab-single-padding/2;
			}
		}

	}

}