#arve .arve-wrapper,
#tinymce .arve-wrapper {
	display: block;
	margin-bottom: 1.5em;
	width: 100%;
}

#arve .arve-wrapper::after,
#tinymce .arve-wrapper::after {
	content: "";
	display: table;
	clear: both;
}

#arve .arve-wrapper.alignright,
#tinymce .arve-wrapper.alignright {
	margin-left: 1.5em;
}

#arve .arve-wrapper.alignleft,
#tinymce .arve-wrapper.alignleft {
	margin-right: 1.5em;
}

#arve .arve-embed-container,
#tinymce .arve-embed-container {
	position: relative;
	display: block;
	padding: 0;
	padding-bottom: 56.25%;
	margin: 0;
	height: 0;
	overflow: hidden;
}

#arve .arve-thumbnail,
#tinymce .arve-thumbnail,
#arve .arve-play-btn,
#tinymce .arve-play-btn,
#arve .arve-iframe,
#tinymce .arve-iframe {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	border: 0;
}

#arve .arve-video,
#tinymce .arve-video {
	padding: 0;
	margin: 0;
	width: 100%;
}

#arve .arve-promote-link,
#tinymce .arve-promote-link {
	float: right;
	font-family: "Open Sans", "Sagoe UI", "Arvo", "Lato", Arial, sans-serif;
	font-size: .8em;
}

.arve-hidden {
	display: none !important;
}
